server:
  port: 9081

spring:
  application:
    name: EUREKA-CLIENT-APP
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: 
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update #create-drop
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console # http://localhost:8011/h2-console
      settings:
        trace: false
        web-allow-others: false
       
eureka:
  instance:
    instance-id: EUREKA-CLIENT-APP
    appname: EUREKA-CLIENT-APP
  client:
    service-url:
      defaultZone: http://localhost:9080/eureka

management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: health, info, env, beans, loggers
       # exclude:
        #  - threaddump
 